.health2 {
  margin-top: -197px;
  margin-left: 735px;
}

button {
  font-size: 0.8em;
  display: block;
  width: 200px;
}

 .rolls {
  margin-top: 10px;
  height: 120px;
  margin-bottom: -30px;
} 

.diceDiv1 {
  margin-left: 285px;
}
.diceDiv2 {
  margin-left: 500px;
  margin-top: -85px;
}

.choices {
  position: relative;
  font-family: fantasy;
  font-size: 36px;
  margin-top: -180px;
}

.choices1 {
  margin-left: 270px;
}

.choices2 {
  margin-left: 505px;
  text-align: justify;
  margin-top:-174px;
}

@media only screen and (min-width: 1600px) {
  body {
    margin-left: 25%;
  }
}
